<mat-card class="card">

  <form [formGroup]="form" class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>URL</mat-label>
        <input matInput formControlName="longLink" #message maxlength="1024" placeholder="http://yourlink.com/.....">
        <mat-hint align="start"><strong></strong> </mat-hint>
        <mat-hint align="end">{{message.value.length}} / 1024</mat-hint>
      </mat-form-field>
    </form>
    <button (click)="getLink()" mat-raised-button color="primary">Get Link!</button>
  
</mat-card>